		<table>
			<tr>

				<% @words.each do |w| %>
							
					
					<td class="rows"><%=link_to w.name, topic_words_path(w.id) %></td>

					<td class="rows"><%= w.definition %></td>

					<td class="rows"><%= w.example %></td>

			</tr>	

				<% end %>

	
		</table>

	<%= link_to 'Add A New word', new_topic_word_path %>

	



			
